/* Основные стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Шапка */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Секция "Герой" */
#hero {
    background-image: url('1618875207_10-phonoteka_org-p-fon-dlya-mebelnogo-saita-10.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
    color: #333;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
}

/* Секция "О нас" */
#about {
    background-color: #f1f1f1;
    padding: 50px 0;
}

/* Секция "Товары" */
#products {
    padding: 50px 0;
}


.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.product-item {
    text-align: center;
}

.product-item img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10px;
}

.product-item h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.product-item p {
    margin-bottom: 10px;
}

.price {
    font-weight: bold;
    color: #333;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.btn-buy {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 10px;
}

/* Секция "Контакты" */
#contact {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
}

/* Подвал */
footer {
    background-color: #f1f1f1;
    padding: 20px 0;
    text-align: center;
}
@media (max-width: 768px) {
    /* Настройки для маленьких экранов (например, телефонов) */
    /* ... */
}
